<md-content>
    <md-card>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>Client Initials</th>
                        <th md-column>Name ID</th>
                        <th md-column>Peer Interaction</th>
                        <th md-column>Group Instruction</th>
                        <th md-column>Group Instruction with Discrimination</th>
                        <th md-column>Answer Questions</th>
                        <th md-column>Participating in Song/Rhyme</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="client in clients track by $index" ng-show="collectData">
                        <td><input type="text" ng-model="clients[$index].name" placeholder="Enter Initials Here"></td>
                        <td md-cell class="client nameID">
                            <button type="button" class="btn btn-default" ng-click="positiveInteraction(client, $index, 'nameID')">
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                            <button type="button" class="btn btn-default" ng-click="negativeInteraction(client, $index, 'nameID')">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                        </td>
                        <td md-cell class="client peerInt">
                            <button type="button" class="btn btn-default" ng-click="positiveInteraction(client, $index, 'peerInteraction')">
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                            <button type="button" class="btn btn-default" ng-click="negativeInteraction(client, $index, 'peerInteraction')">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                        </td>
                        <td md-cell class="client groupInst">
                            <button type="button" class="btn btn-default" ng-click="positiveInteraction(client, $index, 'groupInstruction')">
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                            <button type="button" class="btn btn-default" ng-click="negativeInteraction(client, $index, 'groupInstruction')">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                        </td>
                        <td md-cell class="client groupInstDisc">
                            <button type="button" class="btn btn-default" ng-click="positiveInteraction(client, $index, 'groupWithDisc')">
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                            <button type="button" class="btn btn-default" ng-click="negativeInteraction(client, $index, 'groupWithDisc')">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                        </td>
                        <td md-cell class="client answerQuest">
                            <button type="button" class="btn btn-default" ng-click="positiveInteraction(client, $index, 'answerQuestion')">
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                            <button type="button" class="btn btn-default" ng-click="negativeInteraction(client, $index, 'answerQuestion')">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                        </td>
                        <td md-cell class="client partSong">
                            <button type="button" class="btn btn-default" ng-click="positiveInteraction(client, $index, 'participateSong')">
                        <span class="glyphicon glyphicon-plus"></span> 
                    </button>
                            <button type="button" class="btn btn-default" ng-click="negativeInteraction(client, $index, 'participateSong')">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                        </td>
                    </tr>
                    <tr md-row class="displayData" ng-repeat="client in clients track by $index" ng-hide="collectData">
                        <td md-cell class="name"> {{ clients[$index].name }} </td>
                        <td md-cell class="clientResult"> {{ client.nameID }} / {{ client.nameIDTotal }} </td>
                        <td md-cell class="clientResult"> {{ client.peerInteraction }} / {{ client.peerInteractionTotal }} </td>
                        <td md-cell class="clientResult"> {{ client.groupInstruction }} / {{ client.groupInstructionTotal }} </td>
                        <td md-cell class="clientResult"> {{ client.groupWithDisc }} / {{ client.groupWithDiscTotal }} </td>
                        <td md-cell class="clientResult"> {{ client.answerQuestion }} / {{ client.answerQuestionTotal }} </td>
                        <td md-cell class="clientResult"> {{ client.participateSong }} / {{ client.participateSongTotal }} </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-2 col-md-push-10"><button ng-click="showData()">Submit</button></div>
            </div>
        </md-table-container>
    </md-card>
</md-content>