<div class="data-collection">  
    <div class="container"> 
        <table class="table">
            <tr>
                <th class="rowHead">Client Initials</th>
                <th class="rowHead">Name ID</th>
                <th class="rowHead">Peer Interaction</th>
                <th class="rowHead">Group Instruction</th>
                <th class="rowHead">Group Instruction with Discrimination</th>
                <th class="rowHead">Answer Questions</th>
                <th class="rowHead">Participating in Song/Rhyme</th>
            </tr>
            <tr ng-repeat="client in clientName">
                <td> {{ client.name }} </td>
                <td>
                    <span class="glyphicon glyphicon-plus"></span> 
                    <span class="glyphicon glyphicon-minus"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-plus"></span> 
                    <span class="glyphicon glyphicon-minus"></span>
                </td>  
                <td>
                    <span class="glyphicon glyphicon-plus"></span> 
                    <span class="glyphicon glyphicon-minus"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-plus"></span> 
                    <span class="glyphicon glyphicon-minus"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-plus"></span> 
                    <span class="glyphicon glyphicon-minus"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-plus"></span> 
                    <span class="glyphicon glyphicon-minus"></span>
                </td>                 
            </tr>
        </table>
    </div>
</div>