<md-content>
    <md-card layout="row">
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>Client Initials</th>
                        <th md-column ng-repeat="target in dataTarget">
                            <md-input-container>
                                <md-select ng-model="selectedTarget" md-selected-text="getSelectedTarget()">
                                    <md-optgroup label="targets">
                                        <md-option ng-value="target" ng-repeat="target in targets">{{target}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="client in clients track by $index" ng-show="collectData">
                        <td md-cell>
                            <md-input-container class="initials"><input type="text" ng-model="clients[$index].name" placeholder="Enter Initials Here"></md-input-container>
                        </td>
                        <td md-cell ng-repeat="target in dataTarget">
                            <md-button class="md-icon-button md-primary" aria-label="positive" ng-click="positiveInteraction(client, $index, target.name)">
                                <md-icon class="material-icons">add</md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="negative" ng-click="negativeInteraction(client, $index, target.name)">
                                <md-icon class="material-icons">remove</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    <tr md-row>
                        <td md-cell>
                            <md-button class="show-btn md-raised md-accent" ng-if="collectData" ng-click="showData()">See Results</md-button>
                            <md-button class="show-btn md-raised md-accent" ng-if="!collectData" ng-click="hideData()">Back to Data Collection</md-button>
                        </td>
                        <td md-cell>
                            <md-button class="show-btn md-raised md-accent" ng-click="postData()">Submit Data</md-button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </md-table-container>
    </md-card>
</md-content>
<div class="container" layout "row" layout-align="center end" ng-cloak>
    <md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-right">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="client" ng-click="addClient()" class="md-fab md-raised md-mini">
                <md-icon class="material-icons">person add</md-icon>
            </md-button>
            <md-button aria-label="target" ng-click="addTarget()" class="md-fab md-raised md-mini">
                <md-icon class="material-icons">assessment</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>