<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="socialskillsdc.home">Brandt's Social Skills</a>
        </div>
        <p ng-show="isAuthenticated()" class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{user.username}}</a></p>
        <button type="button" ng-hide="isAuthenticated()" class="btn btn-default navbar-btn navbar-right" ng-click="signin()">Sign in</button>
        <button type="button" ng-show="isAuthenticated()" class="btn btn-default navbar-btn navbar-right" ng-click="logout()">Log out</button>
    </div>
</nav>
<div ui-view></div>