button.show-btn{
    display: table-cell;
    vertical-align: bottom;
    bottom: 2.5%;
    margin-top: 10%;
}

.container {
    display: table;
    
}

.initials {
    margin-top: 30%;
    margin-bottom: 5%;
}

td, md-cell {
    text-align: right;
    width: 13%;
}

md-content {
    position: relative;
}

.material-icons {
    margin: auto;
    vertical-align: middle;
}

.md-fab:hover .md-fab.md-focused {
    background-color: #000 !important;
}